appdirs~=1.4.4
configparser~=5.3.0
importlib-resources~=6.1.0
matplotlib~=3.8.0
multiversx-sdk-cli~=8.1.2
multiversx_sdk_core~=0.6.0
multiversx_sdk_network_providers~=0.11.0
multiversx-sdk-wallet~=0.7.0
pandas~=2.1.1
pyyaml~=6.0
seaborn~=   0.13.0
tqdm~=4.66.1