name: auto-bump
on:
  pull_request:
    branches:
      - develop
      - main
    types:
      - opened

jobs:
  auto-bump:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install bump2version

      - name: Setup Git
        run: |
          git config user.email "41898282+github-actions@users.noreply.github.com"
          git config user.name "github-actions"
          git fetch origin ${{ github.event.pull_request.base.ref }}:${{ github.event.pull_request.base.ref }}

      - name: Auto bump version
        run: |
          VERSION=$(bump2version --dry-run --list patch | grep current_version | sed -E 's/.*=//')
          BASE_SHA=${{ github.event.pull_request.base.sha }}
          HEAD_SHA=${{ github.event.pull_request.head.sha }}
          COMMITS=$(git log --pretty=format:%s $BASE_SHA..$HEAD_SHA)
          python scripts/auto_bump.py ${{ github.event.pull_request.base.ref }} "$VERSION" "$COMMITS"
          git push

      - name: Update changelog if targeting main branch
        if: ${{ github.event.pull_request.base.ref == 'main' }}
        run: |
          VERSION=$(bump2version --dry-run --list patch | grep current_version | sed -E 's/.*=//')
          bash scripts/changelog_release.sh
          git add docs/source/dev_documentation/changelog.md
          git commit -m "bump changelog: Unreleased -> ${VERSION}"
          git push
