name: auto-bump
on: 
  pull_request:
    branches:
      - develop
      - main
    types:
      - opened

jobs:
  auto-bump:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install bump2version
      
      - name: Setup Git
        run: |
          git config user.email "41898282+github-actions@users.noreply.github.com"
          git config user.name "github-actions"
          git fetch origin ${{ github.event.pull_request.base.ref }}:${{ github.event.pull_request.base.ref }}

      - name : Auto bump version
        run: |
          VERSION=$(bump2version --dry-run --list patch | grep current_version | sed -E 's/.*=//')
          PR_NUM=$(echo "$GITHUB_REF" | awk 'BEGIN { FS = "/" } ; { print $3 }')
          COMMITS=$(git log --pretty=format:%s ${{ github.event.pull_request.base.ref }}..${{ github.head_ref }})
          python scripts/auto_bump.py ${{ github.event.pull_request.base.ref }} "$VERSION" "$COMMITS"
          git push
